body {
    background: #F4ECE6;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 0 40px;
    background: #fff;
    border-bottom: 1px solid #F4ECE6;
}

.serif-title {
    font-family: 'Inika', serif;
    font-size: 32px;
    color: #8B7969;
    text-align: center;
}

.register-btn {
    border: 1px solid #CFC2B3;
    background: transparent;
    color: #CFC2B3;
    font-family: 'Inika', serif;
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
    margin-top: 8px;
}

.register-btn:hover {
    background: #F4ECE6;
    color: #8B7969;
}

.login-container {
    max-width: 420px;
    width: 90%;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #E5DDD5;
    padding: 80px 80px 80px 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    flex: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
}

.login-title {
    font-family: 'Inika', serif;
    font-size: 28px;
    background: #f4ece6;
    color: #8B7969;
    margin: 80px auto;
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 24px;
}

.form-group label {
    color: #8B7969;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background: #F4F4F4;
    color: #8B7969;
    font-size: 15px;
    border-radius: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: #BEB1A6;
    opacity: 1;
}

.login-btn {
    background: #8B7969;
    color: #fff;
    font-size: 16px;
    padding: 8px 32px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin-top: 16px;
    transition: background 0.2s;
}

.login-btn:hover {
    background: #A4927D;
}

.error {
    color: #E2001B;
    font-size: 13px;
    margin-top: 4px;
}